# Configuración de Base de Datos (Mifel - Desarrollo)
DB_USER=yose
DB_PASSWORD=mifel_password
DB_NAME=ocr_db

# En Docker Compose usa "db", en local usa "localhost"
DB_HOST=db
DB_PORT=5432

# Rutas de Drivers (Ajustar según entorno)
# En Docker es: /app/drivers/...
# En Mac Local puede ser: /Users/yose/drivers/...
SPARK_JDBC_DRIVER_PATH=/app/drivers/postgresql-42.7.2.jar