# BACKEND
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=contracts_db

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7

# ML
OLLAMA_MODEL=qwen2.5:7b
EMBEDDING_MODEL=paraphrase-multilingual-mpnet-base-v2
RERANKER_ENABLED=true
RERANKER_MODEL=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1
TESSERACT_LANG=spa
TESSERACT_CONFIG=--psm 6
ML_API_KEY=ml_api_key
ML_BASE_URL=http://ml:8001

# FRONTEND
VITE_API_URL=http://backend:8000