# MONGODB Configuration
MONGO_INITDB_ROOT_USERNAME = 
MONGO_INITDB_ROOT_PASSWORD = 
MONGO_INITDB_DATABASE = 

# POSTGRESQL Configuration
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 
POSTGRES_HOST = 
POSTGRES_PORT = 