# Basura de Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.ipynb_checkpoints/

# Notebooks y Datos
.ipynb_checkpoints/
data/
*.log

# Entorno y Secretos
.env

# IDEs y SO
.vscode/
.idea/
.DS_Store
.pytest_cache/

# Drivers
drivers/

# Actions
.github/workflows/ci.yml