@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-card: #0a0a0a;
  --color-sidebar: #050505;
  --color-border-subtle: #1f1f1f;
  --color-accent-electric: #a855f7;
  --color-accent-electric-hover: #9333ea;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
}

#root {
  width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
